################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Finanzauto.PowerBI.Application/Specification/ListAllChildPermission/ListAllChildPermissionSpecification.cs
